html {
  margin: 0;
  background: black;
}

canvas {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  display: grid;
  margin: 0;
}

#play {
  border: none;
  background-color: #4af626;
  font-size: xx-large;
  box-shadow: inset -1px 0px 13px 20px green;
}
#play:hover {
  cursor: pointer;
}
